@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-mentor-shadow: 0px 4px 20px rgba(110, 127, 185, 0.1);
  
  --inset-54\%: 54%;
  
  --color-primary: #611f69;
  --color-cream: #fcf5ef;
  --color-success: #6b9f36;
  --color-orange: #f9cd92;
  
  --background-image-banner-image: url('/images/banner/background.png');
  --background-image-newsletter: url('/images/newsletter/hands.svg');
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  section {
    @apply py-0
  }

  h1 {
    @apply text-black md:text-7xl sm:text-6xl text-5xl
  }

  h2 {
    @apply text-black sm:text-5xl text-4xl
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}